.img-fit {
    max-height: 100vh;
    width: 100%;
    object-fit: cover;
}
.avatar-1-1 {
    aspect-ratio : 1 / 1;
}
.fw-bold {
    font-weight: bold;
    color: black;
}
.user-chat .room-footer {
    position: relative;
}
.v3-emoji-picker {
    position: absolute;
    top: 0;
    right: 10px;
    transform: translateY(-100%);
}

li {
    list-style-type: none;
}

.removed-message {
    background-color: var(--secondary) !important;
    color: white !important;
}
.disable {
    display: none;
}
.chat-image {
    max-width: 500px;
}
.chat-conversation .conversation-list .chat-image {
    padding: 0;
}
.img-cover {
    object-fit: cover;
}